*{
  margin:6px;
  padding: 4px; 
  background-color: cornsilk;
  justify-content: center;
}


input { border: 1px solid #CCA383; 
width: 400px;
background: #FFE8EF;
padding: 3px;
  }

input legend {
background: #CCA383;
padding: 6px; 
font-weight: bold;
}

label { 
color: #B4886B;
font-weight: bold; 
display: block; 
width: 150px;
float: left; 
}


label:after {
  content: ": "
 }
 p{
 color: #B4886B;

 }